AlertManagement/Resources/assign.alert.config.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="exceptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="exception" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Alert" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:string" name="AlertProperty" minOccurs="0"/>
                          <xs:element type="xs:string" name="AlertPropertyMatches" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="Name" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ManagementPack" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:string" name="AlertProperty" minOccurs="0"/>
                          <xs:element type="xs:string" name="AlertPropertyMatches" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="Name" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="ID" use="required"/>
                  <xs:attribute type="xs:string" name="Name" use="required"/>
                  <xs:attribute type="xs:string" name="Owner" use="required"/>
                  <xs:attribute type="xs:string" name="enabled" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="assignments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="assignment" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ManagementPack" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Name" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="ID" use="required"/>
                  <xs:attribute type="xs:string" name="Name" use="required"/>
                  <xs:attribute type="xs:string" name="Owner" use="required"/>
                  <xs:attribute type="xs:string" name="enabled" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>